.main-item {
  margin-top: 10px;
}

.main-content {
  overflow-y: scroll !important;
  height: 80vh !important;
}

.main-title {
  margin-top: 10px;
  color: #008696;
  font-size: 1.8rem;
  font-weight: 600;
}
